<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @pokemon.address %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      var pokemon_name = '<%= @pokemon.name %>'
      var pokemon_coordinates = <%= raw @pokemon_coordinates.to_json %>
      console.log(pokemon_coordinates.latitude + ", " + pokemon_coordinates.longitude)
    })
  </script>
<% end %>
